
 body{
	background: #ECECEC;
	margin:0px ;
	color:#333;
	padding-bottom:65px;
	
	font-family: "Roboto", helvetica, arial, sans-serif;
  	font-size: 16px;
  	font-weight: 400;
  	text-rendering: optimizeLegibility;
}


a.button{
	background: #ECECEC;
	border-radius: 15px;
	padding: 10px 20px;
	display: block;
	font-family: arial;
	font-weight: bold;
	color:#7f7f7f;
	text-decoration: none;
	text-shadow:0px 1px 0px #fff;
	border:1px solid #a7a7a7;
	width: 145px;
	margin:0px auto;
	margin-top:50px;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition:box-shadow 0.5s;
}
a.button i{
	float: right;
	margin-top: 2px;
}
a.button:hover{
	box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
a.button:active{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
	background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20%;
  background-color: #ECECEC;
  color: #333;
}

.box {
  background-color: #ECECEC;
  color: #333;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
}
h1{
	font-size: 36px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 10px;
    background-color:lightgray;
}
table#lid{
	cursor: pointer;
}
tr:hover{
	background-color:white;
}
tr:first-child:hover{
	background-color:#ECECEC;
}
div#leden{
	overflow-x:auto;
}
.text, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input:hover {
    background-color: #45a049;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.btn {
    height: 60px; 
    position: fixed; 
    bottom:1%;
    width:100%; 
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #36a4e8 1px;
	text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}



.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 80px;
  margin: auto;
  max-width: 80%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
  cursor:pointer;
}
 

.ic:hover{
	background:#ECECEC;
	border-style: solid;
    border-width: 2.9px;
    border-color: #ECECEC;
    cursor: pointer;
}
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.box2 {

  background: #FFFFFF;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box2:hover {
  background-color: gray;
  cursor: pointer;
	border-style: solid;
    border-width: 2.9px;
    border-color: #ECECEC;
    cursor: pointer;
}
.filterdiv{
	text-align:center;
}
.filtertext {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
}
.filterbutton{
    height: 40px; 
    width:30%; 
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #36a4e8 1px;
	text-decoration: none;
}
.filterbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.main {
  width: 600px;
  margin-left:-300px;
  
  height: 500px;
  margin-top:-250px;
  
  top: 50%;
  left:50%;
  
  background-color:gray;
  border-style:double;
  
  position: fixed;
  display:none;
  z-index:100;
  overflow: auto;
}
.btn2 {
    height: 40px; 
    position: relative; 
    bottom:1%;
    width:100%; 
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 17px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #36a4e8 1px;
	text-decoration: none;
}
.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}